<body>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    * {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    p.name_company {
      font-size: 16px;
      font-weight: bold;
      margin: 0 !important;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      margin: 5px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .QR {
      width: 120px;
      height: 120px;
    }
  </style>
  <ul>
    {% for item in doc.vouchers_table %}
    <li>
      <p class="name_company">{{item.name_company}}</p>
      <div class="QR">
        {% set url = item.url + "/login?username=" + item.voucher + "&password="
        + item.voucher %}
        <img src="{{get_qr_code(url)}}" alt="{{item.voucher}}" />
      </div>
      <p>{{item.voucher}}</p>
    </li>
    {% endfor %}
  </ul>
</body>
