<body lang="ar" dir="rtl">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    * {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-family: system-ui;
    }
    p.name_company {
      font-size: 16px;
      font-weight: bold;
      margin: 0 !important;
      padding-bottom: 10px;
    }
    ul {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      margin: 5px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .QR {
      width: 120px;
      height: 120px;
    }
    .urlNot {
      width: 120px;
      text-align: center;
    }
    .urlNot + p{
        background-color: black;
        color: white;
        padding: 0 10px;
    }
  </style>
  <ul>
    {% for item in doc.vouchers_table %}
    {%if item.url == None%}
    <li>
        <p class="name_company">{{item.server}}</p>
        <div class="urlNot">
            url Not found for this voucher in Hotspot Controller
        </div>
        <p>{{item.voucher}}</p>
      </li>
    {%else%}
    <li>
      <p class="name_company">{{item.server}}</p>
      <div class="QR">
        {% set url = item.url + "/login?username=" + item.voucher %}
        <img src="{{get_qr_code(url)}}" alt="{{item.voucher}}" />
      </div>
      <p>{{item.voucher}}</p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</body>
