<body>
  <style>
    /* @media screen { */
    * {
      margin: 0;
      padding: 0;
    }
    /* } */
    /* @media print { */
    * {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    p {
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    li {
      margin: 5px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .QR {
      margin: 5px;
      width: 120px;
      height: 120px;
    }
    /* } */
  </style>
  <ul>
    {% for item in doc.vouchers_table %} {% if item.printer == 1 %}
    <li>
      <p>شركة آمال الشرق</p>
      <p>AMAL ALSHARQ</p>
      <div class="QR">
        <img
          width="100%"
          height="100%"
          alt=""
          src="https://qrcode.tec-it.com/API/QRCode?data=http%3a%2f%2famal-shark.com%2flogin%3fusername%3d{{item.name}}%26password%3d{{item.name}}&backcolor=%23ffffff"
        />
        <img />
      </div>
      <p>{{item.voucher}}</p>
    </li>
    {% endif %} {% endfor %}
  </ul>
</body>
